In [1]:
print("Hello,World")

Hello,World

In [3]:
AB104 = 50

### AB104 is a variable <br>50 is the value which is stored in that variable

### There are rules which are set to decalre a variable. <br> There are multiple data types which are
1. Integer - Any natural number
2. FLoat - Any decimal number
3. String - Anything which is enclosed in quotes ("")
4. Boolean - True/ False
5. Complex - Complex numbers like 3 + 4j
6. Nonetype - The variable which contain none

In [4]:
a = 5 # integer

In [5]:
type(a)

int

In [6]:
a = 5.5

In [7]:
type(a)

float

In [8]:
a = "India"

In [9]:
type(a)

str

In [10]:
a = True

In [11]:
type(a)

bool

In [12]:
a = False

In [13]:
type(a)

bool

In [14]:
a = 3 +6j

In [15]:
type(a)

complex

In [16]:
a = None

In [17]:
type(a)

NoneType

### There are some rules to declare a variable
1. Variable names are case sensitive.
2. Variable names can include alphabets A-Z, a-z, 0-9.
3. Varibale name cannot start with a number and can never include any special character except underscore(_).
4. Avoid using reserved keywords in naming a Variable.

In [18]:
name = "Rahul"

In [19]:
type(name)

str

In [22]:
print(name)

Rahul

In [30]:
NaMe13 = "Rahul"

In [26]:
print(Name)

Rahul

In [33]:
na_me = "Rahul"

In [37]:
for1 = "Rahul"

In [36]:
List = "Rahul"

### How to take an input from the user

In [51]:
a = int(input("Enter a number: "))

Enter a number:  10

### How to convert from one data type to another

In [52]:
a = 10

In [53]:
type(a)

int

In [54]:
float(a)

10.0

In [56]:
str(a)

'10'

### Operators and operands

In [2]:
x = 5  # operands
y = 10 # operands

z = x + y # + is my operator
z

15

### Typese of operator
1. Arithmatic operator
2. Unary operator
3. Binary operator
4. Relational operators
5. Logical operator
6. Arithmatic assignment operator
7. Bitwise operator

### 1. Arithmatic operator

In [3]:
x = 5 # integer
y = 3 # integer

In [6]:
print("Addition", x + y) # Addition 
print("Subtraction", x - y) # Subtraction
print("Division", x / y) # Division
print("Multiplication", x * y) # Multiplication
print("Modulus", x % y) # Modulus
print("Exponential", x ** y) # Exponential
print("Floor division", x //y ) # Floor division

Addition 8
Subtraction 2
Division 1.6666666666666667
Multiplication 15
Modulus 2
Exponential 125
Floor division 1

### 2. Unary operator: Operators on a single operands

In [7]:
x = 5
print(-x)

-5

### 3. Binary Operator: Opearate on two operands eg Addition, Multiplication, division, subtraction etc

In [10]:
print("Addition", x + y) # Addition 
print("Subtraction", x - y) # Subtraction
print("Division", x / y) # Division
print("Multiplication", x * y) # Multiplication
print("Modulus", x % y) # Modulus
print("Exponential", x ** y) # Exponential
print("Floor division", x //y ) # Floor division

Addition 8
Subtraction 2
Division 1.6666666666666667
Multiplication 15
Modulus 2
Exponential 125
Floor division 1

### 4. Relational Opearator: Compares two values and gives you boolean value

In [11]:
x = 10
y = 5

In [12]:
print(x > y)
print(x < y)
print(x != y)
print(x == y)
print(x >= y)
print(x <= y)

True
False
True
False
True
False

### 5. Logical operator: Used to combine conditional statements

In [13]:
x = True # 1
y = False # 0

In [14]:
print(x and y)
print(x or y)
print(not x)

False
True
False

### 6. Arithmatic assignment operator: eg +=, -=, *=,/=

In [15]:
x = 10

x += 5 # x = x + 5
x

15

In [17]:
a = 10
a *= 5 # a = a*5
a

50

### 7. Bitwise Operator

In [18]:
x = 5
y = 3

In [20]:
print(x & y)
print(x | y)
print(x ^ y)
print(~x)
print(x << 1)
print(x >> 1)

1
7
6
-6
10
2

Explanation of print(x & y)
. . . 128 64 32 16 8 4 2 1
               5 = 0 1 0 1   
               3 = 0 0 1 1
            -----------------
                   0 0 0 1
            -----------------

## **Control statement**
Control statement alters the flow of execution of a program. It generally includes statements like if, else or loops for while loop, and jump statements like break, continue, return.

### If else

if condition:
    Do something
else:
    Don this

In [21]:
if 5 > 3:
    print("Huurray")
else:
    print("Not Hurray")

Huurray

In [26]:
if False:
    print("Yes")
else:
    print("No")

No

In [29]:
num = int(input("ENter the number: "))
if num > 10:
    print("The number user printed is greater than 10")
else: 
    print("The number is less than 10")

ENter the number:  -10

The number is less than 10

### If, elif, elif, ... , else

In [32]:
num = int(input("Enter the number"))
if num > 10:
    print("The number is greater than 10")
elif num == 10:
    print("The number is equal to 10")
else:
    print("The number is less than 10")

Enter the number -9

The number is less than 10

## **Practice Question for if- else**
### **Basic Questions**
1. Write a program that takes an integer input from the user and prints whether it is **positive**, **negative**, or **zero**.
2. Write a program that asks for a number and prints whether it is **even** or **odd**.
3. Ask the user to enter their age and determine if they are **a child (0-12 years)**, **a teenager (13-19 years)**, **an adult (20-59 years)**, or **a senior citizen (60+ years)**.

### **Intermediate Questions**
4. Write a program that asks for a score (0-100) and prints the corresponding **grade**:
   - 90-100: A
   - 80-89: B
   - 70-79: C
   - 60-69: D
   - Below 60: F
5. Ask the user for a year and determine whether it is a **leap year** or not.
6. Write a program that asks for the temperature and prints whether it is **Cold (<15°C), Warm (15-25°C), or Hot (>25°C)**.
7. Ask the user to input a character and check if it is a **vowel (a, e, i, o, u)** or a **consonant**.

### **Advanced Questions**
8. Write a program that takes three numbers as input and prints the **largest** among them.
9. Write a program that checks if a triangle is **equilateral (all sides equal)**, **isosceles (two sides equal)**, or **scalene (no sides equal)**.
10. Create a program that asks for a username and password. If the username is `"admin"` and the password is `"password123"`, print `"Login successful"`; otherwise, print `"Invalid credentials"`.

In [35]:
# 1. Write a program that takes an integer input from the user and prints whether it is positive, negative, or zero.

num = float(input("Enter the number: "))
if num > 0:
    print("The number is positive")
elif num == 0:
    print("The number is 0")
else:
    print("The number is negetive")

Enter the number:  -10

The number is negetive

In [43]:
# 2. Write a program that asks for a number and prints whether it is **even** or **odd**.
num = int(input("Enter the number"))
if num % 2 == 0:
    print("The number is even")
else:
    print("The number is odd")

Enter the number 10

The number is even

In [51]:
# 7. Ask the user to input a character and check if it is a vowel (a, e, i, o, u) or a consonant.

char = input("Enter an alphabet")
if char in "aeiou":
    print("Vowel")
else:
    print("Consonent")

Enter an alphabet p

Consonent

### Nested if else

In [55]:
### 9. Write a program that checks if a triangle is equilateral (all sides equal), isosceles (two sides equal), or scalene (no sides equal).
# Conditio 1 = Sum of any two sides should be greater than the third side

a = int(input("Enter the first side: "))
b = int(input("Enter the second side: "))
c = int(input("Enter the third side: "))

if a + b > c and b + c > a and a + c > b:
    print("The triangle is valid")
    if a == b == c:
        print("Equilateral triangle")
    elif a == b or b == c or a == c:
        print("Isosceles triangle")
    else:
        print("Scalen triangle")
else:
    print("The triangle is not valid")

Enter the first side:  10
Enter the second side:  10
Enter the third side:  12

The triangle is valid
Isosceles triangle

### **For and While loop**
For loop
1. For loop works on ranges and sequences
2. In For loop, the number of iterations are known.
3. The counter management is automatic in for loop.
4. For loop stops when the iteration is out of range or sequence.

While loop
1. While loop works on a condtion.
2. While loop works when the number of iteration is unknown.
3. The counter managemnet is manual.
4. While loop stops whent the condition becomes false.

In [57]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [58]:
i = 1
while i <= 10:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10

For loop
for var in sequence/range:
    Do something

While loop
while condition:
    Do something

In [60]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [64]:
while True:
    n = input("Enter the number")
    if n == 'q':
        break
    print(n)

Enter the number q

In [66]:
i = 1
while i <= 10:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10

In [68]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

### Practice question for for loop
1. Write a program to print numbers from 1 to 10 using a for loop.
2. Write a program to find the sum of the first 10 natural numbers using a for loop.
3. Write a program to print all even numbers between 1 and 20 using a for loop.
4. Write a program to print the multiplication table of a given number (e.g., 5).

In [70]:
for i in range(1,11):
    print("5 *",i,"=", 5 * i)

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [76]:
for i in range(5,51,5):
    print(i)

5
10
15
20
25
30
35
40
45
50